<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head(title)">
  <meta charset="utf-8">
  <title th:replace="${title}">BBS论坛</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link rel="stylesheet" th:href="@{/xadmin/css/font.css}">
  <link rel="stylesheet" th:href="@{/xadmin/lib/layui/css/layui.css}">
  <link rel="stylesheet" th:href="@{/xadmin/css/login.css}">
  <link rel="stylesheet" th:href="@{/xadmin/css/xadmin.css}">
  <!--<link rel="stylesheet" th:href="@{/xadmin/css/theme3.css}">-->


  <script th:src="@{/xadmin/lib/layui/layui.js}" charset="utf-8"></script>
  <script th:src="@{/xadmin/js/xadmin.js}" charset="utf-8"></script>
  <script th:src="@{/js/jquery.min.js}"></script>


</head>
<body>

</body>
</html>

