<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="index/common/header :: head(~{::title})">
  <title>首页</title>
</head>
<body>
<!--导航栏 -->
<div th:replace="index/common/navbar :: navbar(1)"></div>


<div class="layui-hide-xs">
  <div th:replace="index/common/category :: category" class="fly-panel fly-column"></div>
</div>

<div class="layui-container">
  <div class="layui-row layui-col-space15">
    <div class="layui-col-md8 content detail">
      <div class="fly-panel detail-box">
        <h1 th:text="${articleInfo.getTitle()}">Fly Template v3.0，基于 layui 的极简社区页面模版</h1>
        <div class="fly-detail-info">

          <span class="layui-badge fly-badge-accept layui-hide-xs" th:text="${articleInfo.getName()}">分类一</span>

          <div class="fly-admin-box" data-id="123">
            <span class="layui-badge layui-bg-black" th:if="${articleInfo.getIsTop()}==1">置顶</span>
            <span class="layui-badge layui-bg-red" th:if="${articleInfo.getRefinement()}==1">精帖</span>
          </div>
          <span class="fly-list-nums"> 
            <a href="#comment">
              <i class="iconfont" title="回答">&#xe60c;</i>
              <span th:text="${articleInfo.getCommentNum()}"></span>
            </a>
            <i class="iconfont" title="人气">&#xe60b;</i>
            <span th:text="${articleInfo.getGoodNum()}"></span>
          </span>
        </div>
        <div class="detail-about">
          <a class="fly-avatar" href="../user/home.html">
            <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt="贤心">
          </a>
          <div class="fly-detail-user">
            <a href="../user/home.html" class="fly-link">
              <cite th:text="${session.userName}">遇见</cite>
              <i class="iconfont icon-renzheng" title="认证信息：{{ rows.user.approve }}"></i>
              <i class="layui-badge fly-badge-vip" th:if="${articleInfo.getStatus()}==0">用户</i>
              <i class="layui-badge fly-badge-vip" th:if="${articleInfo.getStatus()}==1">VIP</i>
              <i class="layui-badge fly-badge-vip" th:if="${articleInfo.getStatus()}==2">SVIP</i>
            </a>
            <span th:text="${#dates.format(articleInfo.getCreate_time(),'yyyy-MM-dd')}">1999年10月20日</span>
          </div>
          <div class="detail-hits" id="LAY_jieAdmin" data-id="123">
            <span class="fly-list-kiss layui-hide-xs" title="悬赏飞吻"><i class="iconfont icon-kiss"></i><span th:text="${articleInfo.getIntegral()}"></span> </span>
            <span class="layui-btn layui-btn-xs jie-admin" type="edit"><a href="add.html">编辑此贴</a></span>
          </div>
        </div>
        <div id="summary" style="">
          <p>摘要：</p>
          <p style="text-indent: 30px;" class="typo typo-selection" th:text="${articleInfo.getSummary()}"></p>
        </div>
        <div class="detail-body photos">
          <!--具体内容-->
          <div id="content" class="typo typo-selection"  th:utext="${articleInfo.getContent()}">

            <!-- 第二个隐藏文本域，用来构造生成的HTML代码，方便表单POST提交，这里的name可以任意取，后台接受时以这个name键为准 -->
            <textarea id="text" class="editormd-html-textarea" name="text"></textarea>
          </div>
        </div>
      </div>

      <div class="fly-panel detail-box" id="flyReply">
        <fieldset class="layui-elem-field layui-field-title" style="text-align: center;">
          <legend>回帖</legend>
        </fieldset>

        <ul class="jieda" id="jieda" th:each="commentInfo: ${commentInfos}">
          <li data-id="111" class="jieda-daan" style="">
            <a name="item-1111111111"></a>
            <div class="detail-about detail-about-reply">
              <a class="fly-avatar" href="">
                <img src="https://tva1.sinaimg.cn/crop.0.0.118.118.180/5db11ff4gw1e77d3nqrv8j203b03cweg.jpg" alt=" ">
              </a>
              <div class="fly-detail-user">
                <a href="" class="fly-link">
                  <cite th:text="${commentInfo.getNickname()}">遇见</cite>
                  <i class="iconfont icon-renzheng" title="认证信息：{{ rows.user.approve }}"></i>
                  <i class="layui-badge fly-badge-vip" th:if="${commentInfo.getStatus()}==0">用户</i>
                  <i class="layui-badge fly-badge-vip" th:if="${commentInfo.getStatus()}==1">VIP</i>
                  <i class="layui-badge fly-badge-vip" th:if="${commentInfo.getStatus()}==2">SVIP</i>
                </a>
                
                <span th:if="${session.userId==commentInfo.getUser_id()}">(楼主)</span>
                <!--
                <span style="color:#5FB878">(管理员)</span>
                <span style="color:#FF9E3F">（社区之光）</span>
                <span style="color:#999">（该号已被封）</span>
                -->
              </div>
              <div class="detail-hits">
                <span th:text="${#dates.format(commentInfo.getComment_time(),'yyyy-MM-dd')}">2017-11-30</span>
              </div>
            </div>
            <div class="detail-body jieda-body photos">
              <p th:text="${commentInfo.getComment_content()}">香菇那个蓝瘦，这是一条被采纳的回帖</p>
            </div>
            <div class="jieda-reply">
              <!--<span class="jieda-zan zanok" type="zan">
                <i class="iconfont icon-zan"></i>
                <em>66</em>
              </span>
              <span type="reply">
                <i class="iconfont icon-svgmoban53"></i>
                回复
              </span>-->
              <div class="jieda-admin">
                <span type="edit">回复</span>
                <a th:href="@{/comment/delete/{id}(id=${commentInfo.getId()})}">
                  <span type="del">删除</span>
                </a>
              </div>
            </div>
          </li>
          <!-- 无数据时 -->
          <!-- <li class="fly-none">消灭零回复</li> -->
        </ul>
        
        <div class="layui-form layui-form-pane">
          <form th:action="@{/comment/add}" method="post">
            <input type="hidden" th:name="user_id" id="user_id" th:value="${session.userId}">
            <input type="hidden" th:name="article_id" id="article_id" th:value="${articleInfo.getId()}">
            <div class="layui-form-item layui-form-text">
              <a name="comment"></a>
              <div class="layui-input-block">
                <textarea id="L_content" name="comment_content" required lay-verify="required" placeholder="请输入内容"  class="layui-textarea fly-editor" style="height: 150px;"></textarea>
              </div>
            </div>
            <div class="layui-form-item">
              <button class="layui-btn" lay-filter="add" lay-submit>提交回复</button>
            </div>
          </form>
        </div>
      </div>
    </div>
    <div class="layui-col-md4">
      <dl class="fly-panel fly-list-one">
        <dt class="fly-panel-title">本周热议</dt>
        <dd>
          <a href="">基于 layui 的极简社区页面模版</a>
          <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>
        <dd>
          <a href="">基于 layui 的极简社区页面模版</a>
          <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>
        <dd>
          <a href="">基于 layui 的极简社区页面模版</a>
          <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>
        <dd>
          <a href="">基于 layui 的极简社区页面模版</a>
          <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>
        <dd>
          <a href="">基于 layui 的极简社区页面模版</a>
          <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>
        <dd>
          <a href="">基于 layui 的极简社区页面模版</a>
          <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>
        <dd>
          <a href="">基于 layui 的极简社区页面模版</a>
          <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>
        <dd>
          <a href="">基于 layui 的极简社区页面模版</a>
          <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>
        <dd>
          <a href="">基于 layui 的极简社区页面模版</a>
          <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>
        <dd>
          <a href="">基于 layui 的极简社区页面模版</a>
          <span><i class="iconfont icon-pinglun1"></i> 16</span>
        </dd>

        <!-- 无数据时 -->
        <!--
        <div class="fly-none">没有相关数据</div>
        -->
      </dl>

      <div class="fly-panel">
        <div class="fly-panel-title">
          这里可作为广告区域
        </div>
        <div class="fly-panel-main">
          <a href="http://layim.layui.com/?from=fly" target="_blank" class="fly-zanzhu" time-limit="2017.09.25-2099.01.01" style="background-color: #5FB878;">LayIM 3.0 - layui 旗舰之作</a>
        </div>
      </div>

      <div class="fly-panel" style="padding: 20px 0; text-align: center;">
        <img src="../../res/images/weixin.jpg" style="max-width: 100%;" alt="layui">
        <p style="position: relative; color: #666;">微信扫码关注 layui 公众号</p>
      </div>

    </div>
  </div>
</div>

<footer th:replace="index/common/footer :: footer" ></footer>
<script>
  $(function  () {
    layui.use('form', function(){
      var form = layui.form;
      var id=$("#article_id").val();
      // layer.msg('玩命卖萌中', function(){
      //   //关闭后的操作
      //   });
      //监听提交
      form.on('submit(add)', function(data){
        console.log(data.field);
        $.ajax({
          url:"/comment/add",
          type:"POST",
          data:data.field,
          dataType:'json',
          success:function(res){
            console.log(res);
            layer.msg(res.message,{time:1500},function(){
              if(res.success==1){
                /*return "redirect:/article/detail/"+article_id;*/
                location.href ="/article/detail/"+id;
              }
            });
          }
        });
        return false;
      });
    });
  })
</script>
</body>
</html>